@inject IJSRuntime JSRuntime

<h3>Worldpay</h3>

<p>Token @_token</p>


<div id='paymentSection'></div>

@code {
    private string _clientKey = "T_C233434343434";
    private string _code = "T_3278327323";
    private string _token;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            await JSRuntime.InvokeVoidAsync("setupPaymentModal", _clientKey, _code);
        }
    }
}
